*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.container{
  position: relative;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .ring{
    position: relative;
    width: 150px;
    height: 150px;
    border: 4px solid transparent;
    border-radius: 50%;
    margin: -30px;
    border-top:  4px solid #24ecff;
    animation: rotate 2s linear  infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container .ring::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
    background: #24ecff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0 0 20px #24ecff11,
    0 0  20px #24ecff,
    0 0  50px #24ecff;

}
.ring:nth-child(2){
    border-top:  4px solid transparent;
    border-left:  4px solid #93ff2d;
    animation: roatate2  2s linear infinite;
    animation-delay: -1s;

}
@keyframes roatate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.container .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    background: #93ff2d;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #93ff2d33,
    0 0 0 10px #93ff2d22,
    0 0 0 20px #93ff2d11,
    0 0  20px #93ff2d,
    0 0  50px #93ff2d;

}


.ring:nth-child(3){
    position: absolute;
    top: -66.66px;
    animation: roatate2  2s linear infinite;
    animation-delay: -6s;
    border-top: 4px solid transparent;
    border-left: 4px solid #e43cf8;
}
.container .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    background: #e43cf8;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #e53cf833,
    0 0 0 10px #e43cf822,
    0 0 0 20px #e43cf811,
    0 0 20px #e43cf8,
    0 0 50px #e43cf8;

}
.container p{
    position: absolute;
    bottom: -80px;
    color: white;
    font-size: 1.5em;
    letter-spacing:0.15em;
    font-family: consolas;
}