*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(175, 5, 47);
}
section .text{
    position: relative;
    text-align: center;
    color: whitesmoke;
    margin: 40px;
    max-width: 650px;
}
section .text span{
    position: relative;
    display: inline-block;
}